/* CSS Document */
body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: black;	
}

/* Navigationleiste */
nav{
	borer-width: 0.1px;
	border-style: solid;
	border-color: lightgrey;
	border-radius: 25px / 25px;
	box-shadow: 3px 3px grey;
	text-align: center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: black;
}
