/* CSS Document */
html {
	margin: 0;
	padding: 0;
}

body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 100%;
	line-height: 1.88889;
	color: black;
	margin: 0;
	padding: 0;
}

/* Navigationleiste */
nav {
	borer-width: 0.1px;
	border-style: solid;
	border-color: lightgrey;
	text-align: center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: black;
}

a:link {
	text-decoration: none;
	color: black;
}

a:link:visited {
	text-decoration: none;
	color: black;
}

a:hover, a:focus, a:active { 
	text-decoration: underline;
	color: darkgray;
}

footer {
	text-align: center;
}

footer a:link, footer a:visited {
	margin-right: 20px;
}