/* CSS Document */
html {
	margin: 0;
	padding: 0;
	box-sizig: border-box;
}

body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 100%;
	line-height: 1.88889;
	color: black;
	margin: 0;
	padding: 0;
}

header {
	position: sticky;
	top: 69px;
}

/* Navigationleiste */
nav {
	borer-width: 0.1px;
	border-style: solid;
	border-color: aliceblue;
	background-color: aliceblue;
	text-align: center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: black;
	width: 100%;
	position: sticky;
	top: 1px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:link:visited {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoation: none;
	color: black;
	text-decoration-color: black;
}

a:hover, a:focus, a:active { 
	text-decoration: underline;
	color: darkgray;
}

article {
	width: 400px;
	position: relative;
	
}

section {
	border-left-color: lightgray;
	border-left-width: 8px;
	border-left-style: solid;
	width: 350px;
	padding: 10px;
	margin: 25px
}

footer {
	text-align: center;
}

footer a:link, footer a:visited {
	margin-right: 20px;
}